<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="assets/js/dist/themes/default/style.css" />
    <script src="assets/js/dist/jstree.js"></script>

  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <a href="help/CN/html/1001.html" target="content">Cinema 4D 基础</a>

        <div id="jstree">
            <!-- in this example the tree is populated from inline HTML -->
            <ul class="jstree-no-icons">
              <li><a href="help/CN/html/1001.html" target="content">Cinema 4D 基础</a>
                <ul>
                  <li><a href="help/CN/html/5425.html" target="content">概述</a></li>
                  <li><a href="help/CN/html/5426.html" target="content">视图和视窗</a></li>
                  <li><a href="help/CN/html/5215.html" target="content">配置</a></li>
                  <li><a href="help/CN/html/5697.html" target="content">渲染菜单</a>
                    <ul>
                        <li><a href="help/CN/html/5698.html" target="content">渲染活动视图</a></li>
                        <li><a href="help/CN/html/5700.html" target="content">区域渲染</a></li>
                    </ul>    
                  </li>
                  <li><a href="help/CN/html/5808.html" target="content">材质管理器</a></li>
                </ul>
              </li>
              <li><a href="help/CN/html/__tut_1002.html" target="content">Cinema 4D 教程</a>
              </li>
            </ul>
          </div>
          <script>
            $(function () {

              // bind to events triggered on the tree
              $('#jstree').on("changed.jstree", function (e, data) {
                console.log(data.selected);
              });

              // interact with the tree - either way is OK
              $('button').on('click', function () {
                $('#jstree').jstree(true).select_node('child_node_1');
                $('#jstree').jstree('select_node', 'child_node_1');
                $.jstree.reference('#jstree').select_node('child_node_1');
              });
              
              $('#jstree').jstree({   
                "core" : { // core options go here
                  "multiple" : false, // no multiselection
                  "themes" : {
                  "icons": false
                }
              },
              "plugins" : ["state"]  
             })

$('#jstree').bind('select_node.jstree', function(e,data) { 
    window.location.href = data.rslt.obj.attr("href"); 
});

      });

          </script>

      </header>
      <section>

      {{ content }}

      </section>

      <footer>

        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

      </footer>
      
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

    {% if site.google_analytics %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>

    {% endif %}

  </body>
</html>
