<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="assets/js/dist/themes/default/style.css" />
    <script src="assets/js/dist/jstree.js"></script>

  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <div class="search_input" style="padding-bottom:20px">
          <input type="text" id="searchMenu" placeholder="&nbsp;搜索..." />
        </div>
        <div id="jsMenu" class="treeview"></div>

        <script> 

          $(function () {
        
              $('#jsMenu').jstree({
                "core": {
                  "data": menuItems,
                  "multiple": false, // no multiselection
                  "themes": {
                    "icons": false,
                    "dots": false,
                  }
                },
                "plugins": ["state", "search"]
              })
        
              //tree change时事件
              $('#jsMenu').on("changed.jstree", function (e, data) {
                console.log("The selected nodes are:");
                console.log(data.node.id);              //选择的node id      
                top.frames['content'].location.href = data.node.data;
              });
        
              var to = false;
              $('#searchMenu').keyup(function () {
                if (to) {
                  clearTimeout(to);
                }
                to = setTimeout(function () {
                  $('#jsMenu').jstree(true).search($('#searchMenu').val());
                }, 250);
              });
        
            });
        
          var menuItems =[
              {"id": "1000", "data": "help/CN/html/1000.html", "text": "Cinema 4D 程序文档", "state": {"opened": true}, "children": [
                {"id": "1014", "data": "help/CN/html/1014.html", "text": "Cinema 4D Studio"},
                {"id": "1001", "data": "help/CN/html/1001.html", "text": "Cinema 4D 基础", "state": {"opened": true}, "children": [
                  {"id": "5425", "data": "help/CN/html/5425.html", "text": "概述"},
                  {"id": "5426", "data": "help/CN/html/5426.html", "text": "视图和视窗"},
                  {"id": "5215", "data": "help/CN/html/5215.html", "text": "配置"},
                  {"id": "5697", "data": "help/CN/html/5697.html", "text": "渲染菜单", "children": [
                    {"id": "5698", "data": "help/CN/html/5698.html", "text": "渲染活动视图"},
                    {"id": "5700", "data": "help/CN/html/5700.html", "text": "区域渲染"},
                  ]}
                ]},
                {"id":"1002", "data": "help/CN/html/tut/__tut_1002.html", "text": "Cinema 4D 教程", "children": [
                  {"id": "40480",  "data": "help/CN/html/tut/__tut_40480.html", "text": "机械建模教程"},
                ]}
              ]}
            ]
        
        </script>

      </header>
      <section>

      {{ content }}

      </section>

      <footer>

        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

      </footer>
      
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

    {% if site.google_analytics %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>

    {% endif %}

  </body>
</html>
